@charset "UTF-8";

* {
  margin: 10px;
  padding-block: 10px;
}

html {
  font-family: 'Courier New', Courier, Monospace;
  font-size: 1em;
  line-height: 1.5em;
}

menu {
  display: none;
}

article {
  width: 100%;
}

article::after {
  content: 'Esse artigo foi impresso atraves do site jubileu.com';
}