* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, helvetica, Sans-Serif;
  font-size: 1.1em;
  width: 100vw;
  height: 97vh;
  background-color: #fff8e7;
}

.form {
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 600px;
  margin: 10px auto;
  padding: 10px;
  background-color: #a8d0ff;
  border-radius: 12px;
  box-shadow: 0 2px 8px #00000077;
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 2px solid #457b9d;
}

input::placeholder {
  color: #7fa6c9;
  font-style: italic;
}

fieldset {
  display: flex;
  gap: 7px;
  margin: 0 0 10px 0;
  padding: 15px;
  border-radius: 6px;
  border: 2px solid #457b9d;
  background-color: white;
}

.generate {
  text-align: center;
  font-size: 1.1em;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background-color: #457b9d;
  color: white;
  box-shadow: 0 0 3px #00000060;
  text-shadow: 1px 1px 4px #00000050;
}

.generate:hover {
  background-color: #365d7a;
  cursor: pointer;
  transform: translateY(-3px);
  transition: transform .1s;
  box-shadow: 0 4px 6px #00000060;
}

div.form > p {
  visibility: hidden;
  text-align: justify;
  width: 84vw;
  max-width: 590px;
  font-size: 1em;
  margin-top: 7px;
}

.story {
  background-color: #e3f2fd;
  padding: 10px;
  border-radius: 6px;
  margin-top: 12px;
  box-shadow: 0 2px 4px #00000020;
}

.legend > p,
.form > label {
  background-color: #0097f9;
  color: white;
  padding: 3px;
  border-radius: 5px;
  margin-bottom: 5px;
  text-shadow: 1px 1px 4px #00000050;
}