@charset "UTF-8";

  * {
    margin: 0;
    padding: 0;
  }
  
  ::webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  img {
    width: 100vw;
  }
  
  a {
    background-color: darkred;
    color: white;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    display: block;
    text-decoration: none;
  }
  
  a:hover {
    background-color: red;
  }