@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background-color: #dedede;
}
  
header {
  background-color: #464646;
  text-align: center;
  color: white;
  margin-bottom: 20px;
  padding: 20px;
}

header > nav > ul > li {
  background-color: black;
  color: white;
  border-radius: 5px;
  list-style-type: none;
  padding: 10px;
  margin: 3px;
}

header nav ul li:hover {
  background-color: #979797;
}

nav ul {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: white;
}

main {
  background-color: white;
  width: 90vw;
  margin: auto;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
}

main > p {
  text-indent: 18px;
  text-align: justify;
  margin-bottom: 15px;
}