@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  padding: 15px;
  margin-bottom: 60px;
  text-align: center;
}

header > h1 {
  font-family: 'Passion One', Sans-Serif;
  font-size: 8.5vw;
  padding-top: 20px;
  margin-bottom: 0;
  color: white;
}

header > p {
  color: white;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 1.1em;
}

main > p {
  font-family: 'Sriracha', cursive;
  font-size: 3.5vw;
  padding: 25px;
  margin: 30px 0 0 0;
}

/* primeira imagem */
#img1 {
  position: relative;
  height: 85vw;
  min-height: 320px;
  max-height: 1000px;
  background-image: url('imagens/background001.jpg');
  background-position: right center;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 50px;
}

#img1 > p {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-56%);
  font-family: 'Sriracha', cursive;
  font-size: 3.5vw;
  padding: 5px;
  background-color: #00000082;
  text-shadow: 2px 1px 0px black;
  color: white;
}

/* segunda imagem */
#img2 {
  position: relative;
  height: 85vw;
  min-height: 320px;
  max-height: 1000px;
  background-image: url('imagens/background002.jpg');
  background-position: right center;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 50px;
}

#img2 > p {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-56%);
  font-family: 'Sriracha', cursive;
  font-size: 3.5vw;
  padding: 5px;
  background-color: #00000082;
  text-shadow: 2px 1px 0px black;
  color: white;
}

span.letra-grande {
  font-size: 1.4em;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  font-size: 1.1em;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
}

footer > p {
  margin: 60px 0 0 0;
  padding: 10px;
}