@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body {
  font-family: Arial, helvetica, Sans-Serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  padding: 15px;
  text-align: center;
}

header > h1 {
  font-family: 'Passion One', Sans-Serif;
  font-size: 8.5vw;
  padding-top: 20px;
  color: white;
}

header > p {
  color: white;
  padding-bottom: 20px;
  font-size: 1.1em;
}

section {
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-family: 'Sriracha', cursive;
  font-size: 3.5vw;
  line-height: 2em;
  padding-left: 30px;
}

section > p {
  padding-bottom: 2em;
}

section.normal {
  background-color: white;
  color: black;
}

section.imagem {
  box-shadow: inset 7px 7px 13px 0px #00000082;
  background-position: right center;
  background-attachment: fixed;
  background-size: cover;
}


section.imagem > p {
  display: inline-block;
  padding: 5px;
  background-color: #00000082;
  text-shadow: 2px 1px 0px black;
  color: white;
}

#img1 {
  background-image: url('imagens/background001.jpg');
}

#img2 {
  background-image: url('imagens/background002.jpg');
}

span.letra-grande {
  font-size: 1.4em;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
}

footer > p {
  margin: 0;
  padding: 10px;
}